<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ui.Login.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_bokdak"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bokdak_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 시작 액티비티(로그인화면) -->
        <activity
            android:name=".ui.Login.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.map.join_map" />

        <activity android:name=".ui.Login.SetNicknameActivity" />

        <activity
            android:name=".ui.mypage.AccountInfo_Mypage"
            android:exported="false" />
        <activity
            android:name=".ui.mypage.AppSettings_Mypage"
            android:exported="false" />

        <activity android:name=".MainActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8OrQ6D5TlE7lgxBn42cr3VOWi4H0YoI4" /> <!-- 구글맵 API -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2ebe3d860e1ba4cf162c32dda83084d6" /> <!-- 카카오 로그인 -->


        <!-- 카카오 로그인, 인가코드를 받기 위한 액티비티 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao2ebe3d860e1ba4cf162c32dda83084d6" />
            </intent-filter>
        </activity>
    </application>

</manifest>